@model TextField
@{
    <p>
    Добро пожаловать!
    </p>
    <p>
    Если Вы продавец — предлагаем разместить Ваше предложение по продаже(обмену) недвижимости на нашем сайте, обратившись в нашу компанию, найти контакты нашего агенства можно в соответствующем разделе или по
    <a asp-area="" asp-controller="Home" asp-action="Contacts">ссылке</a>.<br>
    Вы можете предоставить любую информацию об объекте, которую считаете нужной, а также можете предоставить Ваши контакты и указать, чтобы мы их оставили в записи на сайте, если хотите общаться с покупателями напрямую, или общение с покупаетелем могут вести сотрудники нашего агенства. После прохождения модерации Ваше предложение будет опубликовано на сайте, а Вы будете оповещены ответным письмом.
    </p>
    <p>
    Если Вы покупатель, то ознакомиться с предложениями нашего агенства, изучить подробную информацию о недвижимости и найти контакты продавца можно в разделе <a asp-area="" asp-controller="Services" asp-action="Index">предложения нашего агенства</a>. 
    </p>
    
    <p>
    Здесь отображаются новости и информация, не относящиеся к конкретным предложениям агенства или наших клиентов.
    </p>
    
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    @Html.Raw(Model.Text)
</div>